@charset "UTF-8";

#tdl{
  border: 1px solid #000000;
  }

#list{
  background-color: #CFEDF6;
  box-shadow: 1px 0.75px 0.75px 0.75px rgb(201, 201, 201);
}

.tbaner {
left: 130px;
width: 100vw;
height: 65px;
background-color: #1187CF ;
position: absolute;
vertical-align:middle;
display: table;
}
.space{
	text-align: center;
	padding-right: 140px;
	font-size: 26px;
	color: white;
}

#id{
    border: 1px solid;
    margin: 0px;
}

#listtable{
    position: absolute;
    top: 200px;
     left: 200px;
    width: 750px;
    border: 1px solid #000000;
    }
    
.list{
    margin: 0px;
    width: 60vw;
    }
    
.day{
    width: 20vw;
    }
.check{
    width: 10vw;
    }
.btn{
	width: 10vw
}

#daypst{
 top: 150px;
 left: 200px;
 position: absolute;
}
.yymmdd2{  
    width: 127px;
    height: 20px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}

#detailbox{
    top: 150px;
    left: 1000px;
    width: 750px;
    position: absolute;

}
.lctlist{        
    width: 127px;
    height: 24px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}
.reporter{
    width: 400px;
    height: 300;
    font-size: 25px;
}
#detailtable{
    position: absolute;
    width: 750px;
    border: 1px solid #000000;
    text-align: left;
}
/* #reportscroll{
	overflow: scroll;
} */
