@charset "UTF-8";

p {
  display:table-cell;
  vertical-align:middle;
}
table{
  text-align: center;
}
td{
  color: black;
  font-weight: 700;
}

body {
  width: 1920px;
  height: 1080px;
  margin: 0px;
  overflow:auto;
}