<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citybang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="번호판 신GO"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RecycleActivity"
            android:exported="false" />
        <activity
            android:name=".SplashingActivity"
            android:exported="false" />
        <activity
            android:name=".WebviewSearchActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ec77042832d6bfae0b4568956cbbd7f1" />

        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".LawActivity2"
            android:exported="true" />
        <activity
            android:name=".LawActivity"
            android:exported="true" />
        <activity
            android:name=".QnaActivity"
            android:exported="true" />
        <activity
            android:name=".SelfActivity"
            android:exported="true" />
        <activity
            android:name=".GalaryActivity"
            android:exported="true" />
        <activity
            android:name=".ShootselectActivity"
            android:exported="true" />
        <activity
            android:name=".PhotoselectActivity"
            android:exported="true" />
        <activity
            android:name=".ImformationActivity"
            android:exported="true" />
        <activity
            android:name=".AutoActivity"
            android:exported="true" />
        <activity
            android:name=".drawerActivity"
            android:exported="true" />
        <activity
            android:name=".ReportlistActivity"
            android:exported="true" />
        <activity
            android:name=".splashActivity1"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 파일경로 xml 생성 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>